<div class="detail-top clear">
	<a href="#"><img src="images/Fn33OblEI1oVFycdV7RdulKqWP7p.jpg" alt=""></a>
	<a href="#"><img src="images/FvwyWx6DQ5VdBCYQpRbnpneKRn2Z.jpg" alt=""></a>
	<div class="detail-show">
		<span class="active"></span>
		<span></span>
	</div>
</div>
<h2 class="detail-name">水氧活肤（单次）</h2>
<p class="detail-price">￥298.00</p>
<p class="detail-about">
	<span class="detail-about-1">
		<span>运费：</span>
		<span>0.00</span>
	</span>	
	<span class="detail-about-2">
		<span>销量：</span>
		<span>253</span>
		<span>件</span>
	</span>	
</p>
<a href="#" class="detail-clear">
	<span>促销</span>
	满1000.00元减100.00元
</a>
<a href="#" class="detail-clear">
	<span>促销</span>
	满1000.00元减100.00元
</a>
<a href="#" class="detail-clear">
	<span>促销</span>
	满1000.00元减100.00元
</a>
<div class="detail-list">
	<span class="active">商品详情</span>
	<span>商品参数</span>
	<span>用户评价</span>
</div>
<div class="detail-list-show">
	<img src="images/Fl6xHyw1ZXwR6xHB6l2Htf6MWvbZ.jpg" alt="">
</div>
<div class="footer detail-footer"> 
	<div class="foot-links" id="bottomNav">  
		<a href="#">店铺主页</a>  
		 <a href="#">会员中心</a>    
		  <a href="#">推客申请</a>            
	</div>
</div>
<div class="detail-fix clear">
	<a class="detail-left">
		<i class="icon">&#xe602;</i>
		<p>进店</p>
	</a>
	<div class="detail-right">
		<button type="botton" class="btn" style="background: #FF9402">加入购物车</button>
		<button type="botton" class="btn" style="background: #FF5000">立即购买</button>
	</div>
</div>