<div class="detail-top clear">
	<a href="#"><img src="images/Fn33OblEI1oVFycdV7RdulKqWP7p.jpg" alt=""></a>
	<a href="#"><img src="images/FvwyWx6DQ5VdBCYQpRbnpneKRn2Z.jpg" alt=""></a>
	<div class="detail-show">
		<span class="active"></span>
		<span></span>
	</div>
</div>
<h2 class="detail-name">可莱丝mediheal保湿面膜10片装</h2>
<!-- 团品盒子 -->
<div class="group-box">
	<p class="group-title"><span class="tuan">团</span>韩国可莱丝保湿面膜</p>
	<p class="group-people">共<span class="f-f00"><span>19</span>人</span>参团</p>
	<p class="group-stock clear">
		<span class="max-price">
			原价：
			<span>￥199.00</span>
		</span>
		<span class="group-stock-r">
			库存：
			<span class="group-stock-num">989</span>
		</span>
	</p>
	<p class="group-list clear b-eee">
		<span class="group-name">10人团</span>
		<span class="group-price">￥79.00</span>
		<span class="group-open btn-sm">去开团</span>
		<span class="group-join btn-sm">去参团</span>
	</p>
	<p class="group-list clear">
		<span class="group-name">一个人任性买</span>
		<span class="group-price">￥199.00</span>
		<span class="group-buy btn-sm">去购买</span>
	</p>
	<div class="introduction">
		<p class="around-box clear">
			<span class="l">玩法介绍</span>
			<a class="r">查看详情<i class="icon">&#xe60c;</i></a>
		</p>
		<div class="step">
			<div class="step-li clear active">
				<span class="step-li-l">1</span>
				<span class="step-li-r">
					<span class="two">选择</span>
					<span class="two">心仪产品</span>
				</span>
			</div>
			<div class="step-li clear">
				<span class="step-li-l">2</span>
				<span class="step-li-r">
					<span class="one">支付开团</span>
				</span>
			</div>
			<div class="step-li clear">
				<span class="step-li-l">3</span>
				<span class="step-li-r">
					<span class="two">等待</span>
					<span class="two">好友参团</span>
				</span>
			</div>
			<div class="step-li clear">
				<span class="step-li-l">4</span>
				<span class="step-li-r">
					<span class="two">达到人数</span>
					<span class="two">团购成功</span>
				</span>
			</div>
		</div>
	</div>
</div>
<div class="detail-list group-detail-list">
	<span class="active">商品详情</span>
	<span>商品参数</span>
	<span>用户评价</span>
</div>
<div class="detail-list-show">
	<img src="images/Fl6xHyw1ZXwR6xHB6l2Htf6MWvbZ.jpg" alt="">
</div>