<div class="detail-top clear">
	<a href="#"><img src="images/Fn33OblEI1oVFycdV7RdulKqWP7p.jpg" alt=""></a>
	<a href="#"><img src="images/FvwyWx6DQ5VdBCYQpRbnpneKRn2Z.jpg" alt=""></a>
	<div class="detail-show">
		<span class="active"></span>
		<span></span>
	</div>
</div>
<h2 class="detail-name">水氧活肤（单次）</h2>
<div class="bargain-box">
	<div class="info">
		<span class="kan"></span>
		<span class="bargain-title">砍多少就算多少！算我的</span>
		<span class="stock">剩余：9998</span>
	</div>
	<div class="progress">
		<div class="progress-price clear">
			<span class="progress-price-l">底价：￥<span>45.00</span></span>
			<span class="progress-price-r">原价：￥<span>199.00</span></span>
		</div>
		<div class="progress-bar">
			<div class="progress-bg">
				<span class="progress-bg-l"></span>
				<span class="progress-bg-r"></span>
			</div>
			<div class="progress-show">
				<span class="progress-show-l"></span>
				<span class="progress-show-r"></span>
			</div>
			<div class="progress-current">
				<span class="progress-current-t1"></span>
				<span class="progress-current-t2"></span>
				<div class="progress-current-b clear">
					<img src="images/0.jpg" alt="">
					<span>￥<span>197.04</span></span>
				</div>
			</div>
		</div>
	</div>
	<div class="bargain-tip clear">
		<p class="bargain-tip-l">已有<span>29</span>人参与</p>
		<marquee  class="bargain-tip-r" direction="left" behavior="scroll" scrollamount="3" scrolldelay="0" loop="-1">                 
			<span class="name">点点客WU(^_^)</span>砍到<span class="price">45.00元</span>成交！
		</marquee>
	</div>
	<div class="kan-record clear">
		<img src="images/0.jpg" alt="">
		<p class="record-title clear">
			<span class="user-name">A【青岛因特】李魁</span>
			<span class="kan-price">砍掉<span class="price">￥1.96</span></span>
		</p>
		<p class="record-time">2016-12-01 09:40:52</p>
		<i class="icon">&#xe60c;</i>
	</div>
	<p class="kan-active">活动说明<i class="icon">&#xe60c;</i></p>
</div>
<p class="detail-about">
	<span class="detail-about-1">
		<span>运费：</span>
		<span>0.00</span>
	</span>	
	<span class="detail-about-2">
		<span>销量：</span>
		<span>253</span>
		<span>件</span>
	</span>	
</p>
<a href="#" class="detail-clear">
	<span>促销</span>
	满1000.00元减100.00元
</a>
<a href="#" class="detail-clear">
	<span>促销</span>
	满1000.00元减100.00元
</a>
<a href="#" class="detail-clear">
	<span>促销</span>
	满1000.00元减100.00元
</a>
<div class="detail-list">
	<span class="active">商品详情</span>
	<span>商品参数</span>
	<span>用户评价</span>
</div>
<div class="detail-list-show">
	<img src="images/Fl6xHyw1ZXwR6xHB6l2Htf6MWvbZ.jpg" alt="">
</div>
<div class="banner-search bargain-search">
	<p><i class="icon">&#xe605;</i>在店铺内搜索</p>
</div>
<div class="modules-goods_tag bargain-goods">
	<div>
		<section class="mod-goods-list">  
			<ul class="list-content clear">
			## for(var i = 0 ; i < 4 ; i ++){ ##
				<li class="clear"> 
					<a href="#"> 
						<div class="goods-image">
							<img class="" src="images/FuP9W1Ptf_u8F2z-AR_7wJjaxDva.jpg" style="display: inline;">
						</div>  
						<div class="goods-info"> 
							<p class="goods-title">可莱丝mediheal保湿面膜10片装</p>  
							<p class="goods-price">￥199.00  
							</p> 
							<p class="goods-sale">销量：1296件</p> 
							<i class="goods-buy icon">&#xe613;</i> 
						</div>  
					</a>
				</li>
			## } ##
			</ul>
		</section>
	</div>
</div>
<div class="detail-fix clear">
	<div class="detail-right w-100">
		<button type="botton" class="btn" style="background: #FF9402">找人帮砍</button>
		<button type="botton" class="btn" style="background: #FF5000">立即购买</button>
	</div>
</div>
<div class="popup popup1">
	<div class="popup-bg"></div>
	<div class="popup-content">
		<i class="icon popup-cloose">&#xe616;</i>
		<div class="popup-top clear">
			<span class="popup-name">帮砍榜单</span>
			<p class="popup-choose">
				<span class="popup-choose1 active">最新</span>
				<span class="popup-choose2">金额</span>
			</p>
		</div>
		<ul class="popup-list">
			<li class="kan-record clear">
				<img src="images/0.jpg" alt="">
				<p class="record-title clear">
					<span class="user-name">A【青岛因特】李魁</span>
				</p>
				<p class="record-time">2016-12-01 09:40:52</p>
				<span class="kan-price2">-<span class="price">￥1.96</span></span>
				<i class="icon">&#xe60c;</i>
			</li>
		</ul>
		<div class="popup-show-more">
			查看更多
		</div>
	</div>
</div>
<div class="popup popup2">
	<div class="popup-bg"></div>
	<div class="popup-content">
		<i class="icon popup-cloose">&#xe616;</i>
		<div class="popup-top clear">
			<span class="popup-name">活动说明</span>
		</div>
		<p class="popup-message">1.参与本次活动请使用微信登录参与，每个用户都能参与指定商品；</p>
		<p class="popup-message">1.参与本次活动请使用微信登录参与，每个用户都能参与指定商品；</p>
		<p class="popup-message">1.参与本次活动请使用微信登录参与，每个用户都能参与指定商品；</p>
		<p class="popup-message">1.参与本次活动请使用微信登录参与，每个用户都能参与指定商品；</p>
		<p class="popup-message">1.参与本次活动请使用微信登录参与，每个用户都能参与指定商品；</p>
	</div>
</div>