<!-- 头部搜索框 -->
<!-- start -->
<div class="header clear">
	<div class="header-left fl search">
		<i class="icon">&#xe605;</i>
		在店铺内搜索
	</div>
	<div class="header-right fr">
		<a href="#"><i class="icon">&#xe608;</i></a>
	</div>
</div>
<!-- end -->

<!-- 自动滚动条 -->
<!-- start -->
<div class="modules-notice">
	<div>
		<section class="mod-notice">
			<i class="icon">&#xe607;</i>
			<marquee scrollamount="4">
				<a href="#">金圣嗨翻12月满减活动开始了，届时会有更多优惠供您选到手软。详情请关注微信商城或咨询客服！~</a>
			</marquee>
		</section>
	</div>
</div>
<!-- end -->

<!-- qq在线咨询 -->
<!-- start -->
<div class="modules-title">
	<div>
		<div class="mod-title" style="border-bottom: 1px solid #ccc;"> 
			<a class="title-link clear" href="#">
			    <div class="title-img">
			    	<img src="images/FloGLX2AO_OwiqqMGWE_LWU4n39w.png">
			    </div>
				<div class="title-name">QQ在线咨询</div>  
			</a>
		</div>
	</div>
</div>
<!-- end -->

<!-- banner图 -->
<!-- start -->
<div class="modules-slide">
	<div>
		<div class="image-list style0">
			<ul class="clear">   
				<li> 
					<a href="shop.html">
						<img src="images/FvDvlqMIyzrwB-pGLjhoPhOUvJQp.jpg"> 
						<p>金圣嗨翻12月！~</p> 
					</a> 
				</li>   
			</ul>
		</div>
	</div>
</div>
<!-- end -->

<!-- 客户电话 -->
<!-- start -->
<div class="modules-phone">
	<div>
		<section class="mod-tel"> 
			<a href="#" class="clear">
				<i class="if if-tel fl icon">&#xe615;</i>
				客服电话：000-0000000
				<i class="if if-chevron-right fr icon">&#xe60c;</i>
			</a>
		</section>
	</div>
</div>
<!-- end -->

<!-- 文字导航链接 超出隐藏 -->
<!-- start -->
<div class="modules-nav">
	<div>
		<section>
			<ul class="mod-tag-nav clear">
				<li>
					<a style="background-color:#644866;line-height:30px;" class="clear" href="#">
						<img style="width:30px;height:30px;" src="images/FhiARwOfVRsNpmktxDFyaxe4vLvY.png?imageMogr2"> 
						<span style="width: 103.5px;color:#fcf2fc;overflow: hidden;">脸部整形</span> 
					</a> 
				</li>  
				<li>
					<a style="background-color:#644866;line-height:30px;" class="clear" href="#">
						<img style="width:30px;height:30px;" src="images/FhiARwOfVRsNpmktxDFyaxe4vLvY.png?imageMogr2"> 
						<span style="width: 103.5px;color:#fcf2fc;">脸部整形</span> 
					</a> 
				</li>  
				<li>
					<a style="background-color:#644866;line-height:30px;" class="clear" href="#">
						<img style="width:30px;height:30px;" src="images/FhiARwOfVRsNpmktxDFyaxe4vLvY.png?imageMogr2"> 
						<span style="width: 103.5px;color:#fcf2fc;">脸部整形</span> 
					</a> 
				</li>  
				<li>
					<a style="background-color:#644866;line-height:30px;" class="clear" href="#">
						<img style="width:30px;height:30px;" src="images/FhiARwOfVRsNpmktxDFyaxe4vLvY.png?imageMogr2"> 
						<span style="width: 103.5px;color:#fcf2fc;">脸部整形</span> 
					</a> 
				</li>  
			</ul>  
		</section>
	</div>
</div>
<!-- end -->


<!-- 图片导航链接 small/big  33.3/66.6 -->
<!-- start -->
<div class="modules-slide">
	<div>
		<div class="image-ad2 clear images-tpl"> 
			<div class="clear image-ad2-box"> 
				<a href="#" class="small">
					<img src="images/Fp8u6osNiTkjECm2IJdW6g6qoQ-o.jpg" style="display: inline;">
				</a> 
				<a href="#" class="big">
					<img src="images/Fq-f477bp-i7BegcPTp5CCHJAyRp.jpg" style="display: inline;">
				</a> 
				<a href="#" class="big">
					<img src="images/Fq-f477bp-i7BegcPTp5CCHJAyRp.jpg" style="display: inline;">
				</a> 
				<a href="#" class="small">
					<img src="images/Fp8u6osNiTkjECm2IJdW6g6qoQ-o.jpg" style="display: inline;">
				</a> 
			</div>
		</div>
	</div>
</div>
<!-- end -->

<!-- 图片导航 -->
<!-- start -->
<div style="margin: 0 8px 8px;">
	<a href="#"><img src="images/FsMYK1OLuAteZdSVuYGVRfZRAn3F.jpg" style="display: inline;">  </a>
</div>
<div>
	<a href="#"><img src="images/Fm9e23YoVEfB_rADO4Wcuabmr5D_.jpg"></a>
</div>
<!-- end -->

<!-- 滑动导航 swiper-->
<!-- start -->
<div class="modules-goods">
	<div>
		<section class="mod-goods-com">    
			<div class="swiper-goods-container swiper-container"> 
				<div class="swiper-wrapper clear">  
				## for(var i = 0 ; i < 8 ; i ++){ ##
					<div class="swiper-slide swiper-slide-active" style="margin-right: 10px;"> 
						<a href="#"> 
							<div class="goods-image">
								<img class="swiper" src="images/FhceQI1v4N-afb96ZT7QeQsg1VQR.jpg" style="display: inline;">
							</div> 
							<div class="goods-info"> 
								<p class="goods-title">双眼皮（埋线）</p> 
								<p class="goods-price">￥1980.00</p> 
							</div> 
						</a> 
					</div>  
				## } ##
				</div> 
			</div>
		</section>
	</div>
</div>
<!-- end -->

<!-- 二列布局 包含title -->
<!-- start -->
<div class="modules-goods_tag">
	<div>
		<section class="mod-goods-list">  
			<div class="list-title clear">
				<h2>美容整形</h2>  
				<a href="#">更多<i class="icon">&#xe60c;</i></a>  
			</div>
			<ul class="list-content clear">
			## for(var i = 0 ; i < 4 ; i ++){ ##
				<li class="clear"> 
					<a href="#"> 
						<div class="goods-image">
							<img src="images/FuP9W1Ptf_u8F2z-AR_7wJjaxDva.jpg" style="display: inline;">
						</div>  
						<div class="goods-info"> 
							<p class="goods-title">可莱丝mediheal保湿面膜10片装</p>  
							<p class="goods-price">￥199.00  
								<del>
									<i>原价299.00</i>
								</del>  
							</p> 
							<p class="goods-sale">销量：1296件</p> 
							<i class="goods-buy icon">&#xe613;</i> 
						</div>  
					</a>
				</li>
			## } ##
			</ul>
		</section>
	</div>
</div>
<!-- end -->

<!-- 二维码 -->
<!-- start -->
<div class="modules-title">
	<div>
		<div class="mod-title">
			<a class="title-link clearfix" href="#">  
				<div class="title-name">详情可扫描二维码咨询</div>  
			</a>
		</div>
	</div>
</div>
<div class="modules-slide">
	<a href="#">
		<img src="images/FmMY7qCetGnOWcRHmQ_jnr9dWWJf.JPG" style="display: inline;">  
	</a> 
</div>
<!-- end -->


<!-- footer 导航栏 -->
<!-- start -->
<div class="footer"> 
	<div class="foot-links" id="bottomNav">  
		<a href="#">店铺主页</a>  
		 <a href="#">会员中心</a>    
		  <a href="#">推客申请</a>            
	</div>
</div>
<!-- end -->