<!-- 个人信息 -->
<!-- start -->
<div class="box">
	<div class="user-info clear">
		<div class="user-info-l">
			<!-- 用户头像 60*60 -->
			<img src="images/0.jpg" alt="60*60">
		</div>
		<div class="user-info-r">
			<p class="user-name">放荡不羁爱自由</p>
			<p><i class="icon">&#xe608;</i>2222222222</p>
			<p><i class="icon">&#xe600;</i>1111111111</p>
		</div>
	</div>
	<div class="user-order clear">
		<a href="#" class="user-order-4">
			<p class="order-num">0</p>
			<p class="order-name">待付款</p>
		</a>
		<a href="#" class="user-order-4">
			<p class="order-num">0</p>
			<p class="order-name">待发货</p>
		</a> 
		<a href="#" class="user-order-4">
			<p class="order-num">0</p>
			<p class="order-name">待收货</p>
		</a>
		<a href="#" class="user-order-4">
			<p class="order-num">0</p>
			<p class="order-name">已完成</p>
		</a> 
	</div>
	<ul class="user-list">
		<li>
			<a href="#"><i class="icon">&#xe60e;</i>我的订单</a>
		</li>
		<li>
			<a href="#"><i class="icon">&#xe60d;</i>我的拍卖</a>
		</li>
		<li>
			<a href="#"><i class="icon">&#xe612;</i>我的订单</a>
		</li>
		<li>
			<a href="#"><i class="icon">&#xe610;</i>浏览记录</a>
		</li>
		<li>
			<a href="#"><i class="icon">&#xe60f;</i>推客申请</a>
		</li>
	</ul>
	<div class="user-act">
		<a class="user-out act-active"><i class="icon">&#xe611;</i>返回</a>
		<a class="user-in"><i class="icon">&#xe612;</i>进入</a>
	</div>
</div>
